/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 p{
  line-height: 18px;
 }

.tip {
  color: red;
  font-size: 12px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.h250{
  height: 250px;
}

.margin-t-10{
  margin-top: 10px;
}

.margin-t-100{
  margin-top: 100px;
}

.margin-b-20{
  margin-bottom: 20px;
}

.text_area_div {
  height: 250px;
  width: 88%;
  display: inline-block;
}

.submit_div {
  height: 250px;
  width: 9%;
  display: inline-block;
}

.container{
  margin: 20px 15px;
}

.output-content{
    min-height: 800px;
    height: 100%;
    font-size: 14px;
    background-color: #272822;
    color: #F8F8F2;
    overflow: auto;
    line-height: 12px;
    padding-left: 10px;
    margin-top: 20px;
  }

  .text_area_box{
    font-size: 15px;
    height: 100%;
    width: 95%;
    border-width: 2px;
    overflow: auto;
  }

  .clear-button{
    background: #F9BF0E;
    height: 30px;
    width: 100px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: #F9BF0E;
  }

  .send-button{
    background: #272822;
    height: 30px;
    width: 150px;
    font-size: 15px;
    color: white;
    cursor: pointer;
  }

  .reset-button{
    background: #F9BF0E;
    color: white;
    height: 30px;
    font-size: 15px;
    color: 15px;
    cursor: pointer;
    border: #F9BF0E;
  }

  button,input{
   outline:none;
 }



 button:focus,input:focus,textarea:focus {
   outline: none;
   border: 1px solid #272822;
 }
  