/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.file_or_dir{
  width: 450px;
  height: 30px;
}

.h30{
  height: 30px;
}

.view-file-button{
  background: #272822;
  height: 36px;
  width: 132px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

/* 执行代码页面样式 */
.wrapper-console {
  position: relative;
  top: 8px;
  width: 100%;
  height: 300px;
 }

.left {
  height: 100%;
  /* 为了不占用绝对定位的宽度 这里计算下宽度*/
  width: calc(100% - 200px);
}

.right {
  position: absolute;
  width: 180px;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 15px;
}

/* 选中后code背景色*/
.CodeMirror-selected {
  background: #20aee3 !important;
}