$(".output-content").empty();
$(".output-content").append('<p>============ 查找结果如下 ===============</p>');
<% @results.each do |result| %>
  $(".output-content").append('<p><%= escape_javascript result %></p>');
<% end %>
