$(".output-content").append("<p>============ <%= Time.current %> 本次输出如下 ===============</p>");
<% @results.each do |result| %>
  $(".output-content").append('<p><%= escape_javascript result %></p>');
<% end %>